{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div style="width:50%;margin:0 auto;">
    <table>
    	<tr><td><p><a href="{% url 'sales_dashboard' %}">My Dashboard</a></p></td>
		<td><p><a href="{% url 'logout' %}">logout</a></p></td> </tr>
		<tr>
		<td><h3>{{ user.first_name }} {{ user.last_name }}</h3></td>
		<td>Good Morning Welcome to sales Module</td>
		</tr>
        <tr>
            <td>Today is {% now "l jS F Y H:i:a" %}</td>
            <td></td>
        </tr>
         <tr>
            <td>Youe last Log in was {{user.last_login}}</td>
            <td></td>
        </tr>
    </table>
</div>
{% else %}
<div style="width:50%;margin:0 auto;">
    <table>
    	<tr><td><p></p></td>
		<td><p></p>You are not logged in</td> </tr>
		<tr>

			<tr><td><p></p></td>
		<td><p><a href="{% url 'login' %}">login</a></p></td> </tr>
		<tr>
    </table>
</div>
{% endif %}
{% endblock %}